.container {
    border: 1px solid black;
    height: 100vh;
}

.content {
    display: flex;
} 

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: red;
    height: 100vh;
    width: 50%;
    border-right: 1px solid black;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
      
}

.button {
    display: flex;
    justify-content: center;
    gap:10px;
}