<div class="container">
    <div class="search-page" >
        <p>Welcome {{username}}!</p>
    </div>
    <div class="logout">
        <button mat-raised-button color="primary" (click)="logout()">logout</button>

    </div>
    <br>
    <div class="spinner" *ngIf="showSpinner">
        <img src="assets/spinner.gif">
    </div>
    <div>
        <h3>University Search! World wide</h3>
    </div>
    <table>
        <tr>
            <td>
                <div class="country" *ngIf="countries && countries.length > 0">
                    <label>Select Country</label>
                    <select class="select-country" (change)="onchangecountry()" [(ngModel)]="country"> 
                    <option disabled>Select Country</option>
                    <option *ngFor="let c of countries" [value]="c['country']">  
                        {{c['country']}}</option>     
                    </select>
                </div>
             
            </td>
            <td>
                <div class="country" *ngIf="states && states.length > 0">
                    <label>Select State</label>
                    <select class="select-country" (change)="onchangestate()" [(ngModel)]="state"> 
                    <option  disabled>Select State</option>
                    <option *ngFor="let state of states" [value]="state['state-province']">  
                        {{state['state-province']}}</option>     
                    </select>
                </div>
            </td>
            
        </tr>
    </table>
    
    
    
    <div class="universities">
        <table  *ngIf="universities && universities.length > 0">
            <tr>
                <th>Alpha Code</th>
                <th>Country</th>
                <th>University Name</th>
                <th>Domain</th>
                <th>Web Pages</th>
            </tr>
            <tr *ngFor="let u of universities">
                <td>{{u.alpha_two_code}}</td>
                <td>{{u.country}}</td>
               <td>{{u.name}}</td>   
               <td>{{u.domains}}</td>
               <td>{{u.web_pages}}</td>
            </tr>
        </table>
    </div>
    
</div>
