.container {
    border: 1px solid black;
    height: 100vh;
}
.logout {
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: red;
    color: #fff;
}
.search-page {
    font-size: 10px;
    text-align: center;
    font-size: large;
    padding: 10px;
}
.count {
    float: right;
}
table {
    margin: 0 auto;
}
/* .country {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: red;
    
} */

.select-country {
    width:150px;
    height: 30px;
    font-size: 10px;
    background-color: yellow;
    text-emphasis-style: initial;
}
.universities {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    
}
table, th, td {
    text-align: left;
    
    border-collapse: collapse;
    padding: 5px;
}
